<div class="container" style="width: 500px">
  <div class="d-flex justify-content-center h-100">

    <div class="card-body">
      <div class="card-header">
        <h1>Registration</h1>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
        </div>
        <div style="color: red" *ngIf="error">This email already use</div>
      </div>
      <form (ngSubmit)="onSubmit()" class="text-center mx-auto" [formGroup]="form">
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control mx-auto" id="Username" name="model" formControlName="username"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.username.touched && form.controls.username.errors) }">
          <div *ngIf="submitted || (form.controls.username.touched && form.controls.username.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.username.errors.required">
              <span>Username is required</span>
            </div>
            <div *ngIf="form.controls.username.invalid && form.controls.username.errors.maxlength">
              <span>Username cannot be more than {{form.controls.username.errors.maxlength.requiredLength}}
                characters. Actual {{form.controls.username.errors.maxlength.actualLength}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="FirstName">First Name</label>
          <input type="text" class="form-control mx-auto" id="FirstName" name="model" formControlName="firstName"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.firstName.touched && form.controls.firstName.errors) }">
          <div *ngIf="submitted || (form.controls.firstName.touched && form.controls.firstName.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.firstName.errors.required">
              <span>First Name is required</span>
            </div>
            <div *ngIf="form.controls.firstName.invalid && form.controls.firstName.errors.maxlength">
              <span>First Name cannot be more than {{form.controls.firstName.errors.maxlength.requiredLength}}
                characters.
                Actual {{form.controls.firstName.errors.maxlength.actualLength}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input type="text" formControlName="lastName" id="LastName" class="form-control" name="model"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.lastName.touched && form.controls.inputEmail.errors) }"/>
          <div *ngIf="submitted || (form.controls.lastName.touched && form.controls.lastName.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.lastName.errors.required">
              <span>Last Name is required</span>
            </div>
            <div *ngIf="form.controls.lastName.invalid && form.controls.lastName.errors.maxlength">
              <span>Last Name cannot be more than {{form.controls.lastName.errors.maxlength.requiredLength}} characters.
                Actual {{form.controls.lastName.errors.maxlength.actualLength}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="InputEmail">Email</label>
          <input type="email" formControlName="inputEmail" id="InputEmail" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.inputEmail.touched && form.controls.inputEmail.errors) }"/>
          <div *ngIf="submitted || (form.controls.inputEmail.touched && form.controls.inputEmail.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.inputEmail.errors.required">Email is required</div>
            <div *ngIf="form.controls.inputEmail.errors.inputEmail">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" formControlName="password" id="Password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.password.touched && form.controls.password.errors) }"/>
          <div *ngIf="submitted || (form.controls.password.touched && form.controls.password.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.password.errors.required">Password is required</div>
            <div *ngIf="form.controls.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="ConfirmPassword">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" id="ConfirmPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.confirmPassword.touched && form.controls.confirmPassword.errors) }"/>
          <div *ngIf="submitted || (form.controls.confirmPassword.touched && form.controls.confirmPassword.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="form.controls.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Age">Age</label>
          <select name="number" formControlName="age" id="Age" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted ||
                  (form.controls.age.errors  && form.controls.age.touched)}">
            <option [value]="age" *ngFor="let age of mass;">{{age}}</option>
          </select>
          <div *ngIf="submitted || (form.controls.age.errors && form.controls.age.touched)" class="invalid-feedback">
            <span>Age is required</span>
          </div>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea class="form-control" id="Description" formControlName="description"
                    aria-label="With textarea"></textarea>
        </div>
        <div class="form-group">
          <img [src]="url" height="200"> <br/>
          <label for="Avatar">Avatar</label> <br>
          <input type="file" id="Avatar" (change)="onSelectFile($event)" formControlName="avatar"/>
        </div>
        <div class="form-group">
          <label class="col-sm-9 col-sm-offset-3" for="ConfirmLicense">I agree to the terms and privacy policy.</label>
          <input required type="checkbox" formControlName="confirmLicense" id="ConfirmLicense"
                 class="btn btn-info btn-md"
                 [ngClass]="{ 'is-invalid': submitted ||
                 (form.controls.confirmLicense.touched && form.controls.confirmLicense.errors) }"/>
          <div *ngIf="submitted || (form.controls.confirmLicense.touched && form.controls.confirmLicense.errors)"
               class="invalid-feedback">
            <div *ngIf="form.controls.confirmLicense.errors.required">License is required</div>
          </div>
        </div>
        <div class="button">
          <button class="btn btn-primary" routerLink="../sign-in">Sign in</button>
          <button type="submit" class="btn btn-primary ml-3">Registration</button>
        </div>
      </form>
    </div>
  </div>
</div>
