<h1 class="text-center" *ngIf="create">Create Owner</h1>
<h1 class="text-center" *ngIf="edit">Edit Owner</h1>

<form (ngSubmit)="onSubmit()" class="text-center mx-auto" [formGroup]="form" *ngIf="!ownerCreated && !ownerEdited">
  <div class="form-group">
    <label for="InputName">Name</label>
    <input type="text" class="form-control mx-auto" id="InputName" name="name"
           placeholder="Enter owner name" formControlName="inputName">
    <div *ngIf="form.controls.inputName.invalid && form.controls.inputName.touched
                && !(form.controls.inputName.errors.maxlength)">
      <span>Owner name cannot be empty</span>
    </div>
    <div *ngIf="form.controls.inputName.invalid && form.controls.inputName.errors.maxlength">
      <span>Owner name cannot be more than {{form.controls.inputName.errors.maxlength.requiredLength}} characters.
        Actual {{form.controls.inputName.errors.maxlength.actualLength}}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="InputSurname">Surname</label>
    <input type="text" class="form-control mx-auto" name="surname" id="InputSurname"
           placeholder="Enter owner surname" formControlName="inputSurname">
    <div
      *ngIf="form.controls.inputSurname.invalid && form.controls.inputSurname.touched
              && form.controls.inputSurname.value === ''">
      <span>Price cannot be empty</span>
    </div>
    <div *ngIf="form.controls.inputSurname.invalid && form.controls.inputSurname.errors.maxlength">
      <span>Owner surname cannot be more than {{form.controls.inputSurname.errors.maxlength.requiredLength}} characters.
        Actual {{form.controls.inputSurname.errors.maxlength.actualLength}}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="InputAge">Age</label>
    <input type="number" class="form-control mx-auto" name="age" id="InputAge"
           placeholder="Enter owner age " formControlName="inputAge">
    <div
      *ngIf="form.controls.inputAge.invalid && form.controls.inputAge.touched
              && form.controls.inputAge.value === ''">
      <span>Age cannot be empty</span>
    </div>
    <div *ngIf="!(form.controls.inputAge.value === '')
                  && form.controls.inputAge.touched
                  && form.controls.inputAge.errors">
      <span>Age cannot be more than 100 and less 18</span>
    </div>
  </div>
  <div class="form-group">
    <label for="InputEmail">Email</label>
    <input type="email" class="form-control mx-auto" name="email" id="InputEmail"
           placeholder="Enter email" formControlName="inputEmail">
    <div
      *ngIf="form.controls.inputEmail.invalid && form.controls.inputEmail.touched
              && form.controls.inputEmail.value === ''">
      <span>Email cannot be empty</span>
    </div>
    <div *ngIf="!(form.controls.inputEmail.value === '')
                  && form.controls.inputEmail.touched
                  && form.controls.inputEmail.errors">
      <span>It's not email</span>
    </div>
  </div>
  <div class="button">
    <button type="button" class="btn btn-primary" *ngIf="create" routerLink="../">Back</button>
    <button type="button" class="btn btn-primary" *ngIf="edit" routerLink="../../owners">Back</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </div>
</form>

<div class="text-center success mx-auto" *ngIf="ownerCreated">
  <ngb-alert class="text-center" [dismissible]="false" [type]="'success'">
    <h3>Owner created successfully</h3>
    <button class="btn btn-primary" routerLink="../">Back to table</button>
    <button class="btn btn-primary" (click)="ownerCreated = false">Add more</button>
  </ngb-alert>
</div>

<div class="text-center success mx-auto" *ngIf="ownerEdited">
  <ngb-alert class="text-center" [dismissible]="false" [type]="'success'">
    <h3>Owner editing successfully</h3>
    <button class="btn btn-primary" routerLink="/">Back to table</button>
  </ngb-alert>
</div>

<ngx-spinner type="ball-spin-clockwise-fade"
             [fullScreen]="true"
             bdColor="#333"
             size="medium"
             color="#fff">
  <p style="color: white">Please wait</p>
</ngx-spinner>
