<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand">
    <img src="assets/favicon.ico" alt="icon">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-3" id="navbarText">
    <ul class="navbar-nav mr-auto d-flex">
      <li class="nav-item active">
        <a class="nav-link" routerLink="{{'cars/'}}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="{{'cars/users'}}">Owners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="{{'cars/add-car'}}">Add Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="{{'cars/add-owner'}}">Add Owner</a>
      </li>
    </ul>
    <form action="">
      <button class="btn btn-danger m-1" (click)="scraperCars()">Scrape Cars</button>
      <button class="btn btn-primary m-1" routerLink="{{'/register'}}">Register</button>
      <button class="btn btn-primary m-1" routerLink="{{'/sign-in'}}">Sign in</button>
      <button class="btn btn-primary m-1" (click)="logOut()">Log out</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<ngx-spinner type="ball-spin-clockwise-fade"
             [fullScreen]="true" bdOpacity=0.9
             bdColor="#333"
             size="medium"
             color="#fff">
  <p style="color: white">Please wait</p>
</ngx-spinner>
